@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.settings {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 2em;
}

.content {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    padding: 1em;
}

.statistics-wrapper-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.statistics-wrapper-2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.subcase-content {
    height: 100%;
}

.report-link {
    margin-top: 1em;
}

.select-wrapper {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
}

.select-wrapper:hover {
    background: #eee;
}

.select-wrapper select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    cursor: pointer;
}

.select-wrapper select:focus {
    outline: none;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #eee;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 0;
    width: 9px;
    height: 15px;
    border: solid #495057;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 900px) {
    .main {
    }

    .settings, .content {
        padding: .5em;
    }

    .report-link {
        margin-top: .5em;
    }

    .select-wrapper {
        margin-bottom: .5em;
    }

    .settings {
        min-width: 100%;
    }
}
