@using Armadillo.Chart
@using Microsoft.JSInterop
@using System.Threading.Tasks
@using Armadillo.Shared

<div id="network" class="my-component">
</div>

@functions {
    [Parameter]
    private Product Product { get; set; }

    public static async Task RenderNetworkAsync()
    {
        await JSRuntime.Current.InvokeAsync<string>("RenderNetwork");
    } 

    protected override async Task OnAfterRenderAsync()
    {
        Console.WriteLine("OnAfterRenderAsync: {0}", Product);
        await RenderNetworkAsync();
        if(Product != null)
        {
            await JSRuntime.Current.InvokeAsync<string>("Render2", Product);
        }
    }
}
