@using Armadillo.Chart
@using Microsoft.JSInterop
@using System.Threading.Tasks

<div class="my-component">
    Subcases
</div>

@functions {
  //  public static Task RenderNetwork()
   // {
    //    return JSRuntime.Current.InvokeAsync<string>("RenderNetwork");
   // } 

   // protected override async Task OnInitAsync()
   // {
    //    await RenderNetwork();
   // }
}
