@using Armadillo.Chart
@using Microsoft.JSInterop
@using System.Threading.Tasks
@using Armadillo.Shared
@using System.Linq

<div id="network" class="my-component">
</div>

@functions {
    [Parameter]
    private Product Product { get; set; }

    public static async Task RenderNetworkAsync(Network network)
    {
        await JSRuntime.Current.InvokeAsync<string>("RenderNetwork", network);
    } 

    protected override async Task OnAfterRenderAsync()
    {
        if(Product != null)
        {
            var nodes = Product.Subcases.Select(each => new Node() {
                Id = each.Id,
                Label = each.Title
            });
            var network = new Network() {
                Nodes = nodes.ToArray(),
                Edges = new Edge[] {}
            };
            await RenderNetworkAsync(network);
        }
    }
}
