@page "/"
@using Armadillo.Chart
@using Armadillo.Shared
@inject HttpClient Http

<h1>Subcase Graph</h1>

<SubcaseGraph Product=@product/>

@functions {
    Product product;

    protected override async Task OnInitAsync()
    {
        product = await Http.GetJsonAsync<Product>("api/product");
    }
}
