@page "/"
@using Armadillo.Chart
@using Armadillo.Shared
@inject HttpClient Http

<h1>Subcase Graph</h1>

<SubcaseGraph Subcases=@subcases/>


@functions {
    Subcase[] subcases;

    protected override async Task OnInitAsync()
    {
        subcases = await Http.GetJsonAsync<Subcase[]>("api/subcases");
    }
}
